#direct api requests to the right file
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^/Connect-It/includes/lib/api/(.*)/(.*)$? Connect-It/includes/lib/api/$1/apiHandler.php?function=$2 [QSA]
</IfModule>
